
#header{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 90px;
}
.viva{
    font-family: smooch;
    color:white;
    font-size: 40px;
    margin-left: 10px;
    text-decoration: none;
}
.viva-label{
    font-size: 40px;
}
#search{
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
.search-inp{
    width: 380px ;
    height: 30px ;
    border: 2px solid ;
    
}

.search-btn{
    width: 80px ;
    height: 36px ;
    position: absolute;
    right: 0;
    top: 0;
    background-color:  #A0583C;
    color: white;
    
}
#menu{
    list-style: none;
    display: flex;
    position: relative;
}
#menu .list{
    margin: 0px 20px;
}
#menu .list a{
    color: white;
    text-decoration: none;
}
#menu .list:hover .dropdown{
    display: block;
}
#menu .dropdown-ab,.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    border: 1px solid white;
    padding: 10px;
    z-index: 1;
}
/* #menu .dropdown-ab {
    display: none;
    position: absolute;
    top: 100%;
    border: 1px solid white;
    padding: 10px;
    z-index: 1;
}*/
#menu .list:hover .dropdown-ab{
    display: block;
} 
#menu .dropdown a {
    display: block;  
    padding: 8px;
    text-decoration: none;
}

.action{
    margin-left: 50px;
    display: flex;
}
.action .action-icon .fa{
    color: white;
    text-decoration: none;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
.img {
    height: 97vh; /* Đặt chiều cao của phần tử là 100% chiều cao của viewport */
    width: 100%; /* Đặt chiều rộng của phần tử là 100% chiều rộng của phần tử cha */
    background-image: url('/coffee.png'); 
    background-size: cover; 

}
