
/*x*/
.close-btnlogin{
    margin-left: 260px;
    cursor: pointer;
}
/*form*/
.container-login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    
}
.container-login{
    display: flex;
    justify-content: center;
}
.form-login{
    text-align: center;
    border: 1px solid black;
    width: 300px;
    height: 330px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: white;
    
}
.form-login h2{
    color: #C08267;
    font-family:'Aboreto', cursive;
}
.form-login a{
    text-decoration: none;
    color: black;
}

/*input*/
.username, .password{
    border: 1px solid grey;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 200px;
    height: 25px;
}
/* button */
.button-login{
    margin-top: 20px;
    width: 150px;
    height: 30px;
    background-color: #C08267;
    border: 5px;
    border-radius: 5px;
    font-family:'Aboreto', cursive;
}
.button-login:hover{
    font-size: 16px;
}



