#product-front{
    padding-top: 30px;
    padding-bottom: 76px;
    padding-left: 134px;
    padding-right: 134px;
    background-color: #FFFADA;
}
#product-front h2{
    text-align: center;
    margin-bottom: 76px;
    font-size: 32px;
    margin-left: 40px;
    color: #C08267;
    font-family: 'Roboto', sans-serif;
}

#list-pro{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#list-pro .item .i{
    
    margin-top: 15px;
}
.btn-item{
    color: white;
    border-radius: 5px;
    border: 0px;
    background-color: #A0583C;
    width: 80px;
    height: 30px;
    margin-bottom: 15px;
   
} 
.btn-item:hover{
    font-size: 15px;
}
#list-pro .item{
    color: white;
    width: 230px;
    /* height: 300px; */
    background-color:#C08267 ;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.list-page{
    width: 50%;
   margin-left: 210px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-page .number{
    margin: 0px 20px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C08267;

}
.list-page .number a{
    text-decoration: none;
    color: white;

}